[submodule "deps/pc-dbCBS"]
	path = deps/pc-dbCBS
	url = git@github.com:KhWahba/pc-dbCBS.git
[submodule "deps/agile-payload-transport"]
	path = deps/agile-payload-transport
	url = git@github.com:KhWahba/agile-payload-transport.git
